<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sample.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>sample.servlets.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>sample.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>sample.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sample.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>sample.servlets.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>sample.servlets.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitUpdateServlet</servlet-name>
        <servlet-class>sample.servlets.SubmitUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>sample.servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>sample.servlets.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>sample.servlets.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>sample.servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitCartServlet</servlet-name>
        <servlet-class>sample.servlets.SubmitCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackOrderServlet</servlet-name>
        <servlet-class>sample.servlets.TrackOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookServlet</servlet-name>
        <servlet-class>sample.servlets.FacebookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/CreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitUpdateServlet</servlet-name>
        <url-pattern>/SubmitUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/RemoveItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitCartServlet</servlet-name>
        <url-pattern>/SubmitCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackOrderServlet</servlet-name>
        <url-pattern>/TrackOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookServlet</servlet-name>
        <url-pattern>/FacebookServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>-->
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>sample.filters.DispatcherFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>sample.filters.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>sample.utilities.ContextListener</listener-class>
    </listener>
    <resource-ref>
        <res-ref-name>YellowMoonShop</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
